<div class="container" style="width: 100%; padding: 0;">
    <footer class="footer">
        <div class="container">
            <p>Developed by <a href="http://omnitech.co.ug/?q=contact-us-information" target="_blank">OMNITECH</a><br />
            <p class="pull-right"><a href="#">Back to top</a></p>
        </div>
    </footer>
</div>