<%@ page import="com.omnitech.mis.Branch" %>
<!DOCTYPE html>
<html>

<head>
	<meta name="layout" content="kickstart" />
	<g:set var="entityName" value="${message(code: 'branch.label', default: 'Branch')}" />
	<title><g:message code="default.create.label" args="[entityName]" /></title>
	<script src="${resource(dir: 'js/lib',file: 'jquery.autocomplete.js')}"></script>
	<script src="${resource(file: 'districts.js')}"></script>
	<script>
        $(document).ready(function () {
            var districtsArray = [];
            for (var i = 0; i < districts.length; i++) {
                districtsArray[i] = {value: districts[i].district, data: districts[i].region};
            }
            $("#location").autocomplete({
                source: districtsArray
            });
        });
	</script>
</head>

<body>

<section id="create-branch" class="first">

	<g:hasErrors bean="${branchInstance}">
		<div class="alert alert-danger">
			<g:renderErrors bean="${branchInstance}" as="list" />
		</div>
	</g:hasErrors>

	<g:form action="save" class="form-horizontal" role="form" >
	<g:render template="form"/>

	<div class="form-actions margin-top-medium">
		<g:submitButton name="create" class="btn btn-primary" value="${message(code: 'default.button.create.label', default: 'Create')}" />
		<button class="btn" type="reset"><g:message code="default.button.reset.label" default="Reset" /></button>
	</div>
	</g:form>

</section>

<r:require modules="chosen"/>
<g:javascript >
	$(".chzn-select").chosen();
</g:javascript>
</body>

</html>
