<%@ page import="com.omnitech.mis.User" %>
<!DOCTYPE html>
<html>

<head>
    <meta name="layout" content="kickstart" />
    <g:set var="entityName" value="${message(code: 'user.label', default: 'User')}" />
    <title><g:message code="default.edit.label" args="[entityName]" /></title>
</head>

<body>

<section id="edit-user" class="first">

    <g:hasErrors bean="${userInstance}">
        <div class="alert alert-danger">
            <g:renderErrors bean="${userInstance}" as="list" />
        </div>
    </g:hasErrors>

    <g:form method="post" class="form-horizontal" role="form" >
        <g:hiddenField name="id" value="${userInstance?.id}" />
        <g:hiddenField name="version" value="${userInstance?.version}" />
        <g:hiddenField name="_method" value="PUT" />

        <g:render template="chpForm"/>

        <div class="form-actions margin-top-medium">
            <g:actionSubmit class="btn btn-primary" action="updateChps" value="${message(code: 'default.button.update.label', default: 'Update')}" />
            <button class="btn" type="reset"><g:message code="default.button.reset.label" default="Reset" /></button>
        </div>
    </g:form>

</section>

</body>

</html>
