.d3-tip{
    line-height: 1;
    position: absolute;
    font-weight: bold;
    padding: 12px;
    background: #03A9F4;
    color:cornsilk;
    border-radius: 8px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #03A9F4;
    content: "\25BC";
    position: absolute;
    text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
section{
    padding-top: 20px;
}

.dc-chart g.row text{
    fill: black;
    font-size: 10px;
}
.pie{
    float: none;
    margin-left: 170px;
}
.box-title{
    text-align: center;
    font-size: 16px;
}
.pie svg{
    width: 500px;
}
span.reset{
    text-align: center;
}
.dc-legend-item text{
    font-size: 12px;
}
.dc-chart text.pie-slice{
    fill: #000;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    color: black;
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
}
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    color: black;
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
}
.bttn{
    width: 105px !important;
}
.interval {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 15px;
    /*color: #fff;*/
    width: 140px;
    height: 37px;
    margin-left: 30px;
    /*background: #FF8207;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.question-interval{
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 15px;
    /*color: #fff;*/
    width: 140px;
    height: 37px;
    margin-left: 30px;
    /*background: #FF8207;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.line svg g g.axis.y{
     display: none;
 }
.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 30px;
}