/*
* this is the place where we put out custom css styles
*/
/*
my own custom styles to make the field set look better
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
    font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
    font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

fieldset.scheduler-border {
    border: 1px groove #09f !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    background: #ffffff;
    border-radius: 2px;
}

legend.scheduler-border {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: left !important;
    border: none;
    width: auto;
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    margin-bottom: -3px;
    color: #666666;

}

.span-custom {
    font-size: 12px;
    font-weight: bold;
}

.logo-name {
    color: #f00f00;
    float: left;
    margin-left: 10px;
    text-shadow: 0 0 5px #333;
    font-size: 42px;
    margin-top: 15px;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.form-signin {
    max-width: 660px;
    padding: 25px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 25px #888888;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.required-indicator {
    color: #ff0000;
}

.header-wrapper {
    background: none repeat scroll 0 0 #fff;
    height: 70px;
    margin-top: 0;
    top: 0;
    width: 100%;
}

div.centre {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 0px !important;
}

a {
    text-decoration: none;
}

/*
===========================================================================
*/
#header {
    margin: 0;
}

.logo {
    float: left;
    height: 88px;
    margin: 10px 10px 10px 0;
    width: 220px;
}

.logo a img {
    height: 62px;
    width: 215px;
}

a:link, a:active, a:visited {
    color: #243C63;
    text-decoration: none;
}

.header-top-right {
    margin: 5px 20px;
    width: 200px;
}

.header-top-note, .header-top-right {
    float: right;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
}

.phoneus {
    float: left;
    font-size: 12px;
    height: 50px;
    margin: 46px 25px 0;
    overflow: hidden;
    padding-top: 5px;
    width: 398px;
}

/*
====================multi level bootstrap
*/
.dropdown-menu>li
{	position:relative;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
}
.right-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
.left-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}

.user-table{
    width: 100%;
    display:table;
}

/*Override the text links on NavBars*/
.navbar-inverse .navbar-nav > li > a {
    color: #36677C !important;
    text-transform:uppercase;
    font-weight: bold;
}


.user-row{
    width: 100;
    display: table-row;
}

.user-column{
    display: table-column;
    width: 48%;
    float: left;
    margin-right: 2%;

}

.labels {
    color: white;
    background-color: red;
    font-family: 'Open Sans', sans-serif;;
    font-size: 10px;
    text-align: center;
    /*width: 10px;*/
    white-space: nowrap;
}

.datepicker{
    margin-top: 0px !important;
    /*Just about the one of bootstrap model*/
    z-index: 2000 !important;;
}
.footer .pull-right{
    display:none;
}
.footer p{margin-bottom:0;}
.clear{clear:both}
.server-status{text-align: center}
#Content .nav li i{margin-right:5px;display:inline-block;}
.sticky-wrapper.is-sticky{width:1170px !important;}
.sticky-wrapper.is-sticky #navbarCollapse{width:1170px !important;background:#FFF;padding:10px !important;z-index:999;box-shadow:1px 2px 2px #CCC;}
.glyphicon{margin-right:5px;}
.navbar-right .glyphicon-user:before{margin-right:5px;display:inline-block;}
table.dataTable{border-collapse:collapse !important;}
.home-det-search{padding:10px;background:#dae3f2;border:1px solid #4e77bd;}
.navbar-inverse{background-color:#FFF !important; float:right;position:relative;border:none !important;}
.navbar-nav li a .glyphicon{display:none;}
.navbar-inverse .navbar-collapse{border:none !important;}
.navbar-collapse{padding-right:0 !important;padding-left:0 !important;margin-top:30px;min-height:50px;}
.panel-heading{font-size:18px;padding:0 !important;margin:10px 15px 10px 0px;font-weight:100;}
.progress{margin-bottom:0 !important;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav li.open a{
    background-color:#4CAF50 !important;
    color:#FFF !important;
}
.dropdown-menu > li > a{
    padding:8px 20px !important;
}
.container{padding:0 !important;}
.sticky-wrapper.is-sticky .navbar-collapse{padding-left:30px;padding-right:30px;}
.container .footer{padding:20px !important;margin-top:0 !important;margin-bottom:10px !important;}
.dropdown-menu{border:none !important;padding:0 !important;box-shadow:none !important;}
.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .dropdown-menu > li > a:focus {
    background-color:#36657A !important;
    color:#FFFFFF !important;
    text-decoration:none;
}

.page-heading {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 24px;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    background-color: #35697F;
    margin-bottom: 30px;
    background-image: url("../images/bg.png");
}

.page-heading h1 {
    margin-right: 380px;
    font-size: 60px;
    line-height: 1;
    margin-top: 0;
    color: white;
}

.page-heading #carbonads, .page-heading #sfnql_5 {
    position: absolute;
    top: 0;
    right: 15px;
    width: 330px !important;
    margin: 0 !important;
    padding: 15px !important;
    border-width: 1px !important;
    border-radius: 4px;
}
.page-heading p {
    margin-bottom: 0;
    line-height: 1.4;
}

.sb-preview {
    margin-bottom: 30px;
}
.sb-preview .card {
    background: whitesmoke;
    border: 1px solid #ededed;
    border-bottom: 3px solid #ededed;
}
.h-100 {
    height: 100% !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}
.sb-preview .card .sb-preview-img {
    transition: all 0.2s ease-in-out;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border-style: none;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.sb-preview .card .card-block {
    padding: 1.5rem 1.5rem 0;
}
.card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.sb-preview .card .card-footer {
    padding: 0.75rem 1.5rem 1.5rem;
    background: transparent;
    border: 0;
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.rounded-image {
    display: inline-block;
    background-size: cover;
    height: 16em;
    max-width: 16em;
    width: 100%;
    border-radius: 50%;
    position: relative;
}

/*
info box
*/

/*
 * Component: Info Box
 * -------------------
 */
.custom-md {
    padding-right: 10px;
    padding-left: 5px;
}
.info-box {
    display: block;
    min-height: 135px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 18px 0px 4px 3px;
}

.info-box small {
    font-size: 14px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box-icon {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    display: block;
    /*float: left;*/
    height: 95px;
    width: 95px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 82px;
}
.info-box-icon > img {
    max-width: 100%;
}
.info-box-content {
    padding: 20px 0px 0px 0px;
    /*margin-left: 105px;*/
    text-align: center;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 14px;
}
.progress-description,
.info-box-text {
    display: block;
    font-size: 15px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}
.info-box-txt{
    display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-more {
    display: block;
}
.progress-description {
    margin: 0;
}
/*
end info box
*/