<%@ page import="kickstart._DemoPage" %>
<!DOCTYPE html>
<html>

<head>
    <meta name="layout" content="kickstart"/>
    <g:set var="entityName" value="${message(code: '_DemoPage.label', default: '_DemoPage')}"/>
    <title><g:message code="default.index.label" args="[entityName]"/></title>
</head>

<body>

<section id="index-_DemoPage" class="first">

    <table class="table table-bordered margin-top-medium">
        <thead>
        <tr>

            <g:sortableColumn property="name" title="${message(code: '_DemoPage.name.label', default: 'Name')}"/>

            <g:sortableColumn property="myDate" title="${message(code: '_DemoPage.myDate.label', default: 'My Date')}"/>

            <g:sortableColumn property="myBoolean"
                              title="${message(code: '_DemoPage.myBoolean.label', default: 'My Boolean')}"/>

            <g:sortableColumn property="myInt" title="${message(code: '_DemoPage.myInt.label', default: 'My Int')}"/>

            <g:sortableColumn property="myShort"
                              title="${message(code: '_DemoPage.myShort.label', default: 'My Short')}"/>

            <g:sortableColumn property="myLong" title="${message(code: '_DemoPage.myLong.label', default: 'My Long')}"/>

            <td>
                Action
            </td>
        </tr>
        </thead>
        <tbody>
        <g:each in="${_DemoPageInstanceList}" status="i" var="_DemoPageInstance">
            <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">

                <td><g:link action="show"
                            id="${_DemoPageInstance.id}">${fieldValue(bean: _DemoPageInstance, field: "name")}</g:link></td>

                <td><g:formatDate date="${_DemoPageInstance.myDate}" format="dd-MMM-yyyy"/></td>

                <td><g:formatBoolean boolean="${_DemoPageInstance.myBoolean}"/></td>

                <td>${fieldValue(bean: _DemoPageInstance, field: "myInt")}</td>

                <td>${fieldValue(bean: _DemoPageInstance, field: "myShort")}</td>

                <td>${fieldValue(bean: _DemoPageInstance, field: "myLong")}</td>

                <td>
                    <g:link action="edit" id="${_DemoPageInstance.id}"><i
                            class="glyphicon glyphicon-pencil"></i></g:link>
                    <g:link action="delete" id="${_DemoPageInstance.id}"><i
                            class="glyphicon glyphicon-remove"></i></g:link>
                </td>
            </tr>
        </g:each>
        </tbody>
    </table>

    <div>
        <bs:paginate total="${_DemoPageInstanceCount}"/>
    </div>
</section>

</body>

</html>
